.promo {
  background: url('../images/promo-bg.jpg') center (center/cover) no-repeat;
  .wrap {
    padding: 93px 15px 93px 15px;
  }
  h1 {
    display: block;
    margin: 0 auto;
    width: 930px;
    font-style: normal;
    font-weight: 750;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #ffffff;
  }
}
